		body {
			background-color: black;
			color: white;
		}
		
		@media(min-width: 768px) {
			#parent {
				display: flex;
				flex-direction: row;
				justify-content: center;
				justify-content: space-evenly; 
			}
		}

		.child:hover {
			color: aqua;
			font-size: 1.2rem;
		}
		
		h2 {
			background-color: orange;
			text-align: center;
			width: 50px;
			padding: 50px;
			border-radius: 10px;
			font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
		}
		
		h3 {
			position: absolute;
			background-color: blue;
			padding: 5px;
			width: 15px;
			text-align: center;
			border-radius: 10px;
			
		}
		
		p {
			text-align: center;
		}